html, body {
    background-color: #D5702A;
    margin: 0;
    padding: 0;
}

/* Additional styling for the whole page */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}